[flake8]
max-line-length = 100
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    .egg,
    build,
    dist,
    .pytest_cache,
    .mypy_cache,
    .coverage,
    .github,
    defect3d/clock_mechanisms/__init__.py,
    defect3d/__init__.py,

ignore = 
    E203,
    W293,
    W503,
    W504,
    E501,
    D100,
    D104

per-file-ignores =
    __init__.py: F401, F403, D104
    tests/*: D100, D101, D102, D103

docstring-convention = google



